<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bienvenue sur ma banque</title>
</head>
<body>
    <h1>Bienvenue à {{banque.nom}}</h1>
    <!-- TODO: ajouter des liens vers la page clients et compte -->
    <ul>
        <li><a href="/banque/clients" class="href">Liste des clients</a></li>
        <li><a href="/banque/comptes" class="href">Liste des comptes</a></li>
    </ul>
</body>
</html>