<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Les clients</title>
</head>
<body>

<h1>Page des clients de la banque</h1>

<ul>
    {{#listeClients}}
    <li>{{numero}} -
        <a href="/banque/client/{{numero}}/comptes" style="color:{{#decouvert}}red{{/decouvert}}{{^decouvert}}green{{/decouvert}}" class="href">
            {{nom}} {{prenom}}
        </a>
        ({{this}} le toString de l'objet)
    </li>
    {{/listeClients}}
</ul>

<a href="/banque" class="href">Revenir à la page d'accueil</a>
<!-- TODO: ajouter un lien pour revenir à l'accueil de la banque -->
<!-- TODO: Lister ici les clients de la banque -->
<!-- TODO: Lorsque l'on clique sur un client on est redirgié vers la page de ses comptes -->
<!-- TODO: Si le client est à découvert il doit s'afficher en rouge -->
</body>
</html>