<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Liste des comptes de la banque</title>
</head>
<body>
    <ul class="li">
        {{#comptes}}
            <li>{{this}}</li>
        {{/comptes}}
    </ul>
    <a href="/banque" class="href">Revenir à l'accueil</a>
</body>
</html>