<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comptes du client</title>
</head>
<body>
    <!-- TODO: afficher les comptes du client ici -->
    <!-- TODO: ajouter un lien pour revenir à la page précédente -->
    <!-- TODO: afficher la somme du solde des comptes du client
                calculée depuis le contrôleur -->
    <h2>Client: {{client.nom}} {{client.prenom}} ({{client.numero}})</h2>
    <h3>Solde: {{solde}}</h3>
    <p>
        <b>Listes des comptes</b>
        <ul>
            {{#comptes}}
            <li>{{numero}} : {{solde}} €</li>
            {{/comptes}}
        </ul>
    </p>
    <a href="" class="href"></a>
</body>
</html>