<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Youhou.....</title>
</head>
<body>
<!-- On utilise un moteur de template avec une syntaxe très simple: https://mustache.github.io/mustache.5.html -->
<h1>Bool ou pas? Telle est la question</h1>

{{#afficherBool}} <!-- ce bloc s'affichera uniquement si afficherBool == true -->
<h2>BOOL!</h2>
{{/afficherBool}}


</body>
</html>