<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Youhou.....</title>
</head>
<body>
<!-- On utilise un moteur de template avec une syntaxe très simple: https://mustache.github.io/mustache.5.html -->
<h1>Bienvenue sur le web ... {{nomTemplate}}</h1>

</body>
</html>