<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Youhou.....</title>
</head>
<body>
<!-- On utilise un moteur de template avec une syntaxe très simple: https://mustache.github.io/mustache.5.html -->
<h1>Une belle liste de bonjours avec origine</h1>

<ul>
    {{#hashBonjour}} <!-- Parcours de l'entry set offrant les méthodes getKey et getValue -->
    <li>{{key}} c'est en {{value}}</li>
    {{/hashBonjour}}
</ul>

</body>
</html>